Original is [here](https://www.kaggle.com/ceshine/lgbm-starter)

This notebook is mostly my own attempt to understand.

In [1]:
from datetime import date, timedelta

import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import lightgbm as lgb

In [2]:
df_train = pd.read_csv(
    '../input/train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)  # 2016-01-01
)

df_test = pd.read_csv(
    "../input/test.csv", usecols=[0, 1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]  # , date_parser=parser
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)

items = pd.read_csv(
    "../input/items.csv",
).set_index("item_nbr")

In [3]:
df_train.shape

(59038132, 5)

In [4]:
df_train.head()

        date  store_nbr  item_nbr  unit_sales  onpromotion
0 2016-01-01         25    105574    2.564949        False
1 2016-01-01         25    105575    2.302585        False
2 2016-01-01         25    105857    1.386294        False
3 2016-01-01         25    108634    1.386294        False
4 2016-01-01         25    108701    1.098612         True

In [5]:
df_test.shape

(3370464, 2)

In [6]:
df_test.head()

                                      id  onpromotion
store_nbr item_nbr date
1         96995    2017-08-16  125497040        False
          99197    2017-08-16  125497041        False
          103501   2017-08-16  125497042        False
          103520   2017-08-16  125497043        False
          103665   2017-08-16  125497044        False

In [7]:
items.shape

(4100, 3)

In [8]:
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [9]:
df_2017 = df_train[df_train.date.isin(
    pd.date_range("2017-05-31", periods=7 * 11))].copy()
del df_train

In [10]:
df_2017.shape

(8125670, 5)

In [11]:
df_2017.head()

               date  store_nbr  item_nbr  unit_sales  onpromotion
50912462 2017-05-31          1     96995    0.693147        False
50912463 2017-05-31          1     99197    0.693147        False
50912464 2017-05-31          1    103520    1.386294        False
50912465 2017-05-31          1    103665    2.197225        False
50912466 2017-05-31          1    105574    1.386294        False

In [12]:
promo_2017_train = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(
        level=-1).fillna(False)
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)
promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)
del promo_2017_test, promo_2017_train

In [13]:
promo_2017.shape

(156790, 93)

In [14]:
promo_2017.head()

date                2017-05-31  2017-06-01  2017-06-02  2017-06-03  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-06-04  2017-06-05  2017-06-06  2017-06-07  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-06-08  2017-06-09     ...      2017-08-22  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False
          105574         False       False     ...           False

date                2017-08-23  2017-08-24  2017-08-25  2017-08-26  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-27  2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False
          105574         False       False       False       False       False

[5 rows x 93 columns]

In [15]:
promo_2017.columns

DatetimeIndex(['2017-05-31', '2017-06-01', '2017-06-02', '2017-06-03',
               '2017-06-04', '2017-06-05', '2017-06-06', '2017-06-07',
               '2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11',
               '2017-06-12', '2017-06-13', '2017-06-14', '2017-06-15',
               '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25', '2017-06-26', '2017-06-27',
               '2017-06-28', '2017-06-29', '2017-06-30', '2017-07-01',
               '2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-07', '2017-07-08', '2017-07-09',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-15', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-21',
               '2017-07-22', '2017-07-23', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28', '2017-07-29',
               '2017-07-30', '2017-07-31', '2017-08-01', '2017-08-02',
               '2017-08-03', '2017-08-04', '2017-08-05', '2017-08-06',
               '2017-08-07', '2017-08-08', '2017-08-09', '2017-08-10',
               '2017-08-11', '2017-08-12', '2017-08-13', '2017-08-14',
               '2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-19', '2017-08-20', '2017-08-21', '2017-08-22',
               '2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31'],
              dtype='datetime64[ns]', name='date', freq=None)

<code>promo_2017</code> is just a big data frame to tell which items were on promotion in which stores on which dates.  Rows represent store-item combinations.  Columns represent dates.

In [16]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(
        level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)
df_2017.shape

(156790, 77)

In [17]:
df_2017.head()

date                2017-05-31  2017-06-01  2017-06-02  2017-06-03  \
store_nbr item_nbr
1         96995       0.693147    0.000000    0.000000    0.000000
          99197       0.693147    1.386294    1.098612    1.945910
          103520      1.386294    1.098612    1.098612    0.693147
          103665      2.197225    0.000000    1.791759    1.791759
          105574      1.386294    2.484907    1.791759    1.386294

date                2017-06-04  2017-06-05  2017-06-06  2017-06-07  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       1.098612    1.098612    0.000000    0.000000
          103520      0.000000    0.693147    1.609438    0.693147
          103665      1.098612    1.386294    1.791759    1.386294
          105574      1.386294    1.386294    2.079442    2.397895

date                2017-06-08  2017-06-09     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995       0.000000    0.693147     ...        1.098612
          99197       0.693147    0.693147     ...        0.000000
          103520      0.693147    1.098612     ...        0.000000
          103665      0.000000    1.098612     ...        0.693147
          105574      1.945910    2.079442     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612    0.000000    0.000000    0.693147
          99197       1.098612    0.000000    1.098612    0.000000
          103520      0.000000    1.386294    0.000000    1.386294
          103665      1.098612    0.000000    2.079442    2.302585
          105574      1.791759    2.079442    1.945910    2.397895

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.693147    0.000000    0.000000
          103665      1.098612    0.000000    0.000000    0.693147    0.693147
          105574      1.791759    1.791759    0.000000    1.386294    1.609438

[5 rows x 77 columns]

So the rows in <code>df_2017</code> now correspond to store-item combinations, the columns represent dates (isomorphic to <code>promo_2017</code>), and the data cells contain the target variable.

In [18]:
items = items.reindex(df_2017.index.get_level_values(1))
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1
105574       GROCERY I   1045           0

In [19]:
items.shape

(156790, 3)

<code>items</code> now lines up with <code>df_2017</code>, which means everything is repeated for each store.

In [20]:
# Return that portion of the data frame that corresponds to the time period
#   beginning "minus" days before "dt" and extending for "periods" days
def get_timespan(df, dt, minus, periods):
    return df[
        pd.date_range(dt - timedelta(days=minus), periods=periods)
    ]

In [21]:
def prepare_dataset(t2017, is_train=True):
    X = pd.DataFrame({  # Mean target for different retrospective timespans & total # promotions
        "mean_3_2017": get_timespan(df_2017, t2017, 3, 3).mean(axis=1).values,
        "mean_7_2017": get_timespan(df_2017, t2017, 7, 7).mean(axis=1).values,
        "mean_14_2017": get_timespan(df_2017, t2017, 14, 14).mean(axis=1).values,
        "promo_14_2017": get_timespan(promo_2017, t2017, 14, 14).sum(axis=1).values
    })
    for i in range(16):  # Promotions on future days
        X["promo_{}".format(i)] = promo_2017[
            t2017 + timedelta(days=i)].values.astype(np.uint8)
    if is_train:
        y = df_2017[  # Target values for future days
            pd.date_range(t2017, periods=16)
        ].values
        return X, y
    return X

In [22]:
print("Preparing dataset...")
t2017 = date(2017, 6, 21)
X_l, y_l = [], []
for i in range(4):
    delta = timedelta(days=7 * i)
    X_tmp, y_tmp = prepare_dataset(
        t2017 + delta
    )
    X_l.append(X_tmp)
    y_l.append(y_tmp)
X_train = pd.concat(X_l, axis=0)
y_train = np.concatenate(y_l, axis=0)
del X_l, y_l
X_val, y_val = prepare_dataset(date(2017, 7, 26))
X_test = prepare_dataset(date(2017, 8, 16), is_train=False)

Preparing dataset...

In [23]:
X_train.shape

(627160, 20)

In [24]:
X_train.head()

,mean_14_2017,mean_3_2017,mean_7_2017,promo_14_2017,promo_0,promo_1,promo_2,promo_3,promo_4,promo_5,promo_6,promo_7,promo_8,promo_9,promo_10,promo_11,promo_12,promo_13,promo_14,promo_15
0,0.099021,0.000000,0.099021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.835944,1.245890,0.987960,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.840554,0.462098,0.773092,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1.141420,1.059351,1.243926,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.645124,1.416165,1.505723,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [25]:
y_train.shape

(627160, 16)

In [26]:
y_train

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.69314718,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.38629436],
       [ 0.69314718,  1.38629436,  1.38629436, ...,  0.        ,
         0.69314718,  1.94591015],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.69314718,  5.30330491,  2.19722458, ...,  2.48490665,
         1.94591015,  1.38629436],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [27]:
X_val.shape

(156790, 20)

In [28]:
X_val.head()

,mean_14_2017,mean_3_2017,mean_7_2017,promo_14_2017,promo_0,promo_1,promo_2,promo_3,promo_4,promo_5,promo_6,promo_7,promo_8,promo_9,promo_10,promo_11,promo_12,promo_13,promo_14,promo_15
0,0.177493,0.000000,0.354987,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.709973,0.000000,0.610952,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.840554,1.059351,0.850092,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0.853895,1.229626,0.881969,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.826820,1.866141,1.892588,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
y_val.shape

(156790, 16)

In [30]:
y_val

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.69314718],
       [ 0.        ,  0.        ,  0.69314718, ...,  0.        ,
         1.09861229,  0.        ],
       [ 0.69314718,  1.09861229,  1.09861229, ...,  1.38629436,
         0.        ,  1.38629436],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.69314718],
       [ 1.94591015,  1.38629436,  1.09861229, ...,  2.39789527,
         2.39789527,  1.60943791],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [31]:
X_test.shape

(156790, 20)

In [32]:
X_test.head()

,mean_14_2017,mean_3_2017,mean_7_2017,promo_14_2017,promo_0,promo_1,promo_2,promo_3,promo_4,promo_5,promo_6,promo_7,promo_8,promo_9,promo_10,promo_11,promo_12,promo_13,promo_14,promo_15
0,0.334438,0.000000,0.099021,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0.206455,0.000000,0.156945,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.573577,0.231049,0.495105,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1.031388,0.462098,0.980990,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1.629185,0.998577,1.560437,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
print("Training and predicting models...")
params = {
    'num_leaves': 2**5 - 1,
    'objective': 'regression_l2',
    'max_depth': 8,
    'min_data_in_leaf': 50,
    'learning_rate': 0.05,
    'feature_fraction': 0.75,
    'bagging_fraction': 0.75,
    'bagging_freq': 1,
    'metric': 'l2',
    'num_threads': 4
}

Training and predicting models...

In [34]:
MAX_ROUNDS = 1000
val_pred = []
test_pred = []
cate_vars = []
for i in range(16):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    dtrain = lgb.Dataset(
        X_train, label=y_train[:, i],
        categorical_feature=cate_vars,
        weight=pd.concat([items["perishable"]] * 4) * 0.25 + 1
    )
    dval = lgb.Dataset(
        X_val, label=y_val[:, i], reference=dtrain,
        weight=items["perishable"] * 0.25 + 1,
        categorical_feature=cate_vars)
    bst = lgb.train(
        params, dtrain, num_boost_round=MAX_ROUNDS,
        valid_sets=[dtrain, dval], early_stopping_rounds=50, verbose_eval=50
    )
    print("\n".join(("%s: %.2f" % x) for x in sorted(
        zip(X_train.columns, bst.feature_importance("gain")),
        key=lambda x: x[1], reverse=True
    )))
    val_pred.append(bst.predict(
        X_val, num_iteration=bst.best_iteration or MAX_ROUNDS))
    test_pred.append(bst.predict(
        X_test, num_iteration=bst.best_iteration or MAX_ROUNDS))

==================================================
Step 1
==================================================

/opt/conda/lib/python3.6/site-packages/lightgbm/basic.py:1030: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.345149	valid_1's l2: 0.341455
[100]	training's l2: 0.333379	valid_1's l2: 0.330172
[150]	training's l2: 0.331405	valid_1's l2: 0.328823
[200]	training's l2: 0.330344	valid_1's l2: 0.328317
[250]	training's l2: 0.329476	valid_1's l2: 0.327889
[300]	training's l2: 0.328793	valid_1's l2: 0.327649
[350]	training's l2: 0.328187	valid_1's l2: 0.327459
[400]	training's l2: 0.327652	valid_1's l2: 0.327329
[450]	training's l2: 0.327151	valid_1's l2: 0.327218
[500]	training's l2: 0.326681	valid_1's l2: 0.327129
[550]	training's l2: 0.326264	valid_1's l2: 0.327102
[600]	training's l2: 0.325878	valid_1's l2: 0.327031
[650]	training's l2: 0.325453	valid_1's l2: 0.326991
[700]	training's l2: 0.325065	valid_1's l2: 0.326944
[750]	training's l2: 0.324698	valid_1's l2: 0.326981
Early stopping, best iteration is:
[712]	training's l2: 0.324969	valid_1's l2: 0.326938
mean_14_2017: 1984359.42
mean_7_2017: 1460046.28
mean_3_2017: 315632.91
promo_0: 138629.66
promo_14_2017: 55752.64
promo_7: 21151.43
promo_14: 7359.92
promo_3: 5651.84
promo_15: 3673.71
promo_9: 3040.06
promo_2: 2182.57
promo_13: 2145.98
promo_4: 1850.12
promo_6: 1666.96
promo_1: 1300.76
promo_8: 1140.84
promo_11: 1099.40
promo_10: 1005.44
promo_5: 987.11
promo_12: 892.11
==================================================
Step 2
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.362078	valid_1's l2: 0.373907
[100]	training's l2: 0.352754	valid_1's l2: 0.363658
[150]	training's l2: 0.350666	valid_1's l2: 0.362006
[200]	training's l2: 0.349531	valid_1's l2: 0.361224
[250]	training's l2: 0.348631	valid_1's l2: 0.360787
[300]	training's l2: 0.347873	valid_1's l2: 0.360452
[350]	training's l2: 0.347208	valid_1's l2: 0.36028
[400]	training's l2: 0.346644	valid_1's l2: 0.360162
[450]	training's l2: 0.346098	valid_1's l2: 0.360094
[500]	training's l2: 0.345586	valid_1's l2: 0.360001
[550]	training's l2: 0.345142	valid_1's l2: 0.359979
[600]	training's l2: 0.3447	valid_1's l2: 0.359935
[650]	training's l2: 0.344283	valid_1's l2: 0.359878
[700]	training's l2: 0.34386	valid_1's l2: 0.359895
Early stopping, best iteration is:
[677]	training's l2: 0.344061	valid_1's l2: 0.359856
mean_14_2017: 1863420.55
mean_7_2017: 1002067.79
mean_3_2017: 249076.79
promo_1: 99598.58
promo_14_2017: 45303.65
promo_3: 12426.16
promo_0: 7116.38
promo_2: 6507.20
promo_4: 5307.43
promo_5: 4809.32
promo_7: 2171.31
promo_6: 1987.07
promo_9: 1948.41
promo_8: 1815.36
promo_14: 1663.94
promo_15: 1300.56
promo_13: 940.38
promo_11: 891.77
promo_12: 809.27
promo_10: 733.40
==================================================
Step 3
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.38096	valid_1's l2: 0.402455
[100]	training's l2: 0.36752	valid_1's l2: 0.39013
[150]	training's l2: 0.364539	valid_1's l2: 0.388836
[200]	training's l2: 0.363109	valid_1's l2: 0.388261
[250]	training's l2: 0.361992	valid_1's l2: 0.38778
[300]	training's l2: 0.361092	valid_1's l2: 0.387636
[350]	training's l2: 0.360383	valid_1's l2: 0.387466
[400]	training's l2: 0.359696	valid_1's l2: 0.387286
[450]	training's l2: 0.359087	valid_1's l2: 0.387174
[500]	training's l2: 0.358505	valid_1's l2: 0.387097
[550]	training's l2: 0.357998	valid_1's l2: 0.387024
Early stopping, best iteration is:
[539]	training's l2: 0.358116	valid_1's l2: 0.387023
mean_14_2017: 2314538.97
mean_7_2017: 970734.80
mean_3_2017: 271517.75
promo_2: 142199.56
promo_14_2017: 60530.43
promo_9: 14393.73
promo_3: 9973.02
promo_0: 5948.03
promo_5: 5939.02
promo_4: 5323.99
promo_1: 4437.70
promo_7: 4209.49
promo_14: 3350.50
promo_10: 2397.69
promo_6: 2369.49
promo_13: 2301.62
promo_11: 1802.19
promo_15: 1686.21
promo_12: 1132.91
promo_8: 1036.03
==================================================
Step 4
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.41086	valid_1's l2: 0.414483
[100]	training's l2: 0.398544	valid_1's l2: 0.402679
[150]	training's l2: 0.395316	valid_1's l2: 0.400757
[200]	training's l2: 0.393693	valid_1's l2: 0.399966
[250]	training's l2: 0.392531	valid_1's l2: 0.399542
[300]	training's l2: 0.391597	valid_1's l2: 0.399159
[350]	training's l2: 0.390846	valid_1's l2: 0.398996
[400]	training's l2: 0.390139	valid_1's l2: 0.398757
[450]	training's l2: 0.389497	valid_1's l2: 0.398663
[500]	training's l2: 0.388863	valid_1's l2: 0.39857
[550]	training's l2: 0.388348	valid_1's l2: 0.39848
[600]	training's l2: 0.387831	valid_1's l2: 0.398336
[650]	training's l2: 0.387343	valid_1's l2: 0.398262
[700]	training's l2: 0.386858	valid_1's l2: 0.398191
Early stopping, best iteration is:
[689]	training's l2: 0.386968	valid_1's l2: 0.398183
mean_14_2017: 2697033.74
mean_7_2017: 1105476.36
mean_3_2017: 316007.60
promo_3: 83439.30
promo_14_2017: 47082.26
promo_2: 12419.22
promo_5: 9076.45
promo_4: 8472.54
promo_0: 8113.75
promo_1: 7250.05
promo_7: 6305.30
promo_14: 3936.91
promo_6: 3479.44
promo_9: 2874.90
promo_8: 2604.46
promo_10: 2330.52
promo_13: 1567.90
promo_15: 1530.82
promo_11: 1258.65
promo_12: 814.40
==================================================
Step 5
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.439688	valid_1's l2: 0.437654
[100]	training's l2: 0.425843	valid_1's l2: 0.425113
[150]	training's l2: 0.422312	valid_1's l2: 0.422295
[200]	training's l2: 0.420541	valid_1's l2: 0.421264
[250]	training's l2: 0.419215	valid_1's l2: 0.420517
[300]	training's l2: 0.418177	valid_1's l2: 0.420055
[350]	training's l2: 0.417341	valid_1's l2: 0.419739
[400]	training's l2: 0.416565	valid_1's l2: 0.419497
[450]	training's l2: 0.415864	valid_1's l2: 0.419336
[500]	training's l2: 0.415169	valid_1's l2: 0.419215
[550]	training's l2: 0.414585	valid_1's l2: 0.418983
[600]	training's l2: 0.414	valid_1's l2: 0.418776
[650]	training's l2: 0.41346	valid_1's l2: 0.418689
[700]	training's l2: 0.412937	valid_1's l2: 0.418657
[750]	training's l2: 0.41247	valid_1's l2: 0.41859
[800]	training's l2: 0.412005	valid_1's l2: 0.418553
[850]	training's l2: 0.411583	valid_1's l2: 0.418509
[900]	training's l2: 0.411122	valid_1's l2: 0.41849
[950]	training's l2: 0.410661	valid_1's l2: 0.418441
Early stopping, best iteration is:
[933]	training's l2: 0.410827	valid_1's l2: 0.418415
mean_14_2017: 2914638.73
mean_7_2017: 924894.37
mean_3_2017: 566781.68
promo_4: 86610.05
promo_14_2017: 46068.66
promo_5: 12201.68
promo_3: 10571.08
promo_7: 9095.47
promo_2: 7886.59
promo_0: 6682.90
promo_6: 6318.31
promo_1: 6101.91
promo_14: 5228.28
promo_9: 4469.97
promo_11: 4104.99
promo_8: 3289.03
promo_10: 2272.15
promo_13: 2193.23
promo_15: 2131.23
promo_12: 2123.78
==================================================
Step 6
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.409656	valid_1's l2: 0.42426
[100]	training's l2: 0.398279	valid_1's l2: 0.410303
[150]	training's l2: 0.395357	valid_1's l2: 0.407858
[200]	training's l2: 0.393817	valid_1's l2: 0.407013
[250]	training's l2: 0.392734	valid_1's l2: 0.406522
[300]	training's l2: 0.391829	valid_1's l2: 0.406158
[350]	training's l2: 0.391019	valid_1's l2: 0.405963
[400]	training's l2: 0.390315	valid_1's l2: 0.405788
[450]	training's l2: 0.389698	valid_1's l2: 0.405628
[500]	training's l2: 0.389118	valid_1's l2: 0.405574
[550]	training's l2: 0.388531	valid_1's l2: 0.4055
[600]	training's l2: 0.388037	valid_1's l2: 0.405475
[650]	training's l2: 0.387519	valid_1's l2: 0.405453
[700]	training's l2: 0.387018	valid_1's l2: 0.405434
[750]	training's l2: 0.386571	valid_1's l2: 0.405328
[800]	training's l2: 0.386125	valid_1's l2: 0.4053
[850]	training's l2: 0.385686	valid_1's l2: 0.405277
Early stopping, best iteration is:
[839]	training's l2: 0.385774	valid_1's l2: 0.405261
mean_14_2017: 2386896.30
mean_7_2017: 836090.82
mean_3_2017: 374706.21
promo_5: 91722.65
promo_14_2017: 45313.16
promo_3: 15732.84
promo_6: 12353.01
promo_7: 10550.52
promo_2: 5638.10
promo_4: 5392.82
promo_1: 4730.41
promo_0: 4705.81
promo_9: 3979.45
promo_8: 3446.67
promo_14: 3163.01
promo_12: 2382.70
promo_11: 2199.53
promo_13: 1879.77
promo_10: 1861.10
promo_15: 1508.64
==================================================
Step 7
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.399251	valid_1's l2: 0.499954
[100]	training's l2: 0.387491	valid_1's l2: 0.484431
[150]	training's l2: 0.384487	valid_1's l2: 0.483274
[200]	training's l2: 0.382909	valid_1's l2: 0.482963
[250]	training's l2: 0.381732	valid_1's l2: 0.482566
[300]	training's l2: 0.380894	valid_1's l2: 0.482571
Early stopping, best iteration is:
[265]	training's l2: 0.381465	valid_1's l2: 0.482494
mean_14_2017: 2176121.34
mean_7_2017: 788874.16
mean_3_2017: 309822.63
promo_6: 154213.50
promo_14_2017: 50427.59
promo_3: 14230.01
promo_7: 10208.19
promo_13: 8896.97
promo_5: 7975.26
promo_0: 4785.81
promo_1: 4559.44
promo_4: 4185.97
promo_9: 3828.04
promo_2: 3637.22
promo_14: 3187.51
promo_8: 2329.80
promo_11: 1460.21
promo_15: 1382.96
promo_12: 1252.57
promo_10: 1153.89
==================================================
Step 8
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.387986	valid_1's l2: 0.460971
[100]	training's l2: 0.375614	valid_1's l2: 0.442357
[150]	training's l2: 0.372869	valid_1's l2: 0.439641
[200]	training's l2: 0.371506	valid_1's l2: 0.43892
[250]	training's l2: 0.370348	valid_1's l2: 0.438294
[300]	training's l2: 0.369382	valid_1's l2: 0.437761
[350]	training's l2: 0.368648	valid_1's l2: 0.437692
[400]	training's l2: 0.367991	valid_1's l2: 0.437483
[450]	training's l2: 0.367415	valid_1's l2: 0.437284
[500]	training's l2: 0.36681	valid_1's l2: 0.436947
[550]	training's l2: 0.366269	valid_1's l2: 0.436806
[600]	training's l2: 0.365757	valid_1's l2: 0.436685
[650]	training's l2: 0.365266	valid_1's l2: 0.436622
[700]	training's l2: 0.364806	valid_1's l2: 0.436448
[750]	training's l2: 0.364372	valid_1's l2: 0.436336
Early stopping, best iteration is:
[742]	training's l2: 0.364435	valid_1's l2: 0.43632
mean_14_2017: 2384241.53
mean_7_2017: 801671.16
mean_3_2017: 264155.95
promo_7: 198774.37
promo_14_2017: 42542.97
promo_0: 40765.35
promo_14: 25196.79
promo_5: 8292.56
promo_9: 7164.19
promo_3: 7084.16
promo_6: 5672.33
promo_8: 5019.97
promo_2: 3879.19
promo_1: 3548.74
promo_4: 3497.21
promo_15: 3247.70
promo_13: 2244.96
promo_10: 1998.42
promo_11: 1449.73
promo_12: 977.34
==================================================
Step 9
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.395039	valid_1's l2: 0.439693
[100]	training's l2: 0.384584	valid_1's l2: 0.426991
[150]	training's l2: 0.381732	valid_1's l2: 0.425433
[200]	training's l2: 0.380296	valid_1's l2: 0.425281
[250]	training's l2: 0.379213	valid_1's l2: 0.425006
[300]	training's l2: 0.378344	valid_1's l2: 0.424918
[350]	training's l2: 0.377609	valid_1's l2: 0.424904
[400]	training's l2: 0.376952	valid_1's l2: 0.424708
Early stopping, best iteration is:
[385]	training's l2: 0.377141	valid_1's l2: 0.424637
mean_14_2017: 2077119.23
mean_7_2017: 656491.16
mean_3_2017: 224372.53
promo_8: 131914.07
promo_14_2017: 50054.03
promo_10: 16482.92
promo_9: 8808.18
promo_7: 8458.18
promo_3: 5666.37
promo_11: 4931.93
promo_12: 4697.29
promo_0: 4013.58
promo_13: 3924.70
promo_5: 3893.99
promo_14: 3236.70
promo_1: 2888.35
promo_2: 2232.78
promo_6: 2094.34
promo_15: 1993.37
promo_4: 1415.84
==================================================
Step 10
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.411028	valid_1's l2: 0.442825
[100]	training's l2: 0.397615	valid_1's l2: 0.429157
[150]	training's l2: 0.394128	valid_1's l2: 0.427654
[200]	training's l2: 0.392371	valid_1's l2: 0.427125
[250]	training's l2: 0.391087	valid_1's l2: 0.426783
[300]	training's l2: 0.39013	valid_1's l2: 0.426697
[350]	training's l2: 0.389285	valid_1's l2: 0.426582
[400]	training's l2: 0.388524	valid_1's l2: 0.426592
Early stopping, best iteration is:
[352]	training's l2: 0.389257	valid_1's l2: 0.426548
mean_14_2017: 2346025.16
mean_7_2017: 761032.36
mean_3_2017: 250063.26
promo_9: 182626.24
promo_14_2017: 65436.94
promo_2: 20515.41
promo_10: 11163.22
promo_7: 8953.55
promo_8: 6393.92
promo_14: 5977.96
promo_12: 5281.36
promo_11: 4654.14
promo_13: 3080.82
promo_1: 2600.92
promo_0: 2509.35
promo_6: 2245.80
promo_15: 1777.74
promo_4: 1538.89
promo_5: 1453.62
promo_3: 986.94
==================================================
Step 11
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.44663	valid_1's l2: 0.449294
[100]	training's l2: 0.433935	valid_1's l2: 0.439458
[150]	training's l2: 0.430043	valid_1's l2: 0.438353
[200]	training's l2: 0.428227	valid_1's l2: 0.438198
[250]	training's l2: 0.426948	valid_1's l2: 0.43811
Early stopping, best iteration is:
[217]	training's l2: 0.427787	valid_1's l2: 0.438017
mean_14_2017: 2671867.96
mean_7_2017: 869883.25
mean_3_2017: 282448.02
promo_10: 115969.71
promo_14_2017: 51984.48
promo_9: 15341.94
promo_12: 11561.38
promo_14: 9928.23
promo_7: 9317.06
promo_11: 9259.17
promo_8: 7426.97
promo_13: 4942.61
promo_3: 4886.61
promo_15: 3787.28
promo_0: 2647.59
promo_2: 2531.43
promo_6: 2371.78
promo_5: 1971.52
promo_1: 1793.20
promo_4: 1552.65
==================================================
Step 12
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.473636	valid_1's l2: 0.478331
[100]	training's l2: 0.459869	valid_1's l2: 0.467189
[150]	training's l2: 0.455735	valid_1's l2: 0.465738
[200]	training's l2: 0.453809	valid_1's l2: 0.465062
[250]	training's l2: 0.452357	valid_1's l2: 0.464715
[300]	training's l2: 0.451255	valid_1's l2: 0.464459
[350]	training's l2: 0.450352	valid_1's l2: 0.46411
[400]	training's l2: 0.449506	valid_1's l2: 0.463974
[450]	training's l2: 0.448738	valid_1's l2: 0.46379
Early stopping, best iteration is:
[445]	training's l2: 0.448809	valid_1's l2: 0.463786
mean_14_2017: 2861612.75
mean_7_2017: 800780.15
mean_3_2017: 442968.90
promo_11: 121260.31
promo_14_2017: 51230.04
promo_10: 12686.76
promo_14: 12591.65
promo_12: 12315.98
promo_9: 11873.38
promo_4: 10946.24
promo_13: 8811.57
promo_7: 8106.75
promo_8: 6954.74
promo_15: 4047.03
promo_0: 3765.30
promo_6: 3056.30
promo_2: 2407.47
promo_1: 2386.24
promo_5: 2364.50
promo_3: 1759.24
==================================================
Step 13
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.439599	valid_1's l2: 0.442081
[100]	training's l2: 0.427552	valid_1's l2: 0.431461
[150]	training's l2: 0.424334	valid_1's l2: 0.429868
[200]	training's l2: 0.422715	valid_1's l2: 0.429513
[250]	training's l2: 0.421404	valid_1's l2: 0.429096
[300]	training's l2: 0.42036	valid_1's l2: 0.429036
Early stopping, best iteration is:
[256]	training's l2: 0.421256	valid_1's l2: 0.429019
mean_14_2017: 2371138.42
mean_7_2017: 698072.43
mean_3_2017: 343280.65
promo_12: 106604.28
promo_14_2017: 46029.14
promo_13: 27437.75
promo_10: 13324.76
promo_14: 12125.68
promo_9: 8284.27
promo_15: 5669.04
promo_5: 5634.23
promo_11: 5407.64
promo_7: 5233.36
promo_8: 3702.25
promo_0: 2764.41
promo_3: 2389.24
promo_6: 2297.64
promo_1: 1439.98
promo_2: 1314.36
promo_4: 1070.48
==================================================
Step 14
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.424688	valid_1's l2: 0.424916
[100]	training's l2: 0.412486	valid_1's l2: 0.415382
[150]	training's l2: 0.409	valid_1's l2: 0.414169
[200]	training's l2: 0.407385	valid_1's l2: 0.413722
[250]	training's l2: 0.406155	valid_1's l2: 0.413439
[300]	training's l2: 0.40523	valid_1's l2: 0.413366
[350]	training's l2: 0.404405	valid_1's l2: 0.413319
[400]	training's l2: 0.403644	valid_1's l2: 0.413183
Early stopping, best iteration is:
[391]	training's l2: 0.403794	valid_1's l2: 0.413157
mean_14_2017: 2197955.46
mean_7_2017: 648844.11
mean_3_2017: 294139.57
promo_13: 188581.97
promo_14_2017: 49218.27
promo_12: 15148.05
promo_14: 14515.74
promo_6: 14267.64
promo_10: 10334.22
promo_7: 6407.15
promo_9: 6162.31
promo_0: 5878.17
promo_8: 4762.65
promo_11: 4136.61
promo_15: 4086.48
promo_2: 2456.07
promo_1: 1936.21
promo_4: 1720.93
promo_5: 1561.92
promo_3: 1243.12
==================================================
Step 15
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.411001	valid_1's l2: 0.410482
[100]	training's l2: 0.397157	valid_1's l2: 0.398623
[150]	training's l2: 0.394315	valid_1's l2: 0.397762
[200]	training's l2: 0.392755	valid_1's l2: 0.397444
[250]	training's l2: 0.391625	valid_1's l2: 0.397205
[300]	training's l2: 0.390647	valid_1's l2: 0.397032
[350]	training's l2: 0.389848	valid_1's l2: 0.396838
[400]	training's l2: 0.38916	valid_1's l2: 0.396693
[450]	training's l2: 0.388521	valid_1's l2: 0.396705
Early stopping, best iteration is:
[418]	training's l2: 0.388918	valid_1's l2: 0.396637
mean_14_2017: 2326294.30
mean_7_2017: 697294.19
mean_3_2017: 242807.16
promo_14: 232132.37
promo_14_2017: 49620.78
promo_7: 31713.89
promo_0: 29744.91
promo_15: 19946.18
promo_13: 11068.67
promo_9: 9069.83
promo_12: 8493.43
promo_10: 6377.01
promo_2: 4226.62
promo_6: 4122.19
promo_8: 3039.53
promo_11: 3002.61
promo_4: 2528.08
promo_1: 1724.67
promo_3: 1156.68
promo_5: 1084.95
==================================================
Step 16
==================================================
Training until validation scores don't improve for 50 rounds.
[50]	training's l2: 0.419188	valid_1's l2: 0.432487
[100]	training's l2: 0.408497	valid_1's l2: 0.423828
[150]	training's l2: 0.405564	valid_1's l2: 0.422495
[200]	training's l2: 0.403982	valid_1's l2: 0.422027
[250]	training's l2: 0.402776	valid_1's l2: 0.421674
[300]	training's l2: 0.401741	valid_1's l2: 0.421631
[350]	training's l2: 0.400889	valid_1's l2: 0.421475
[400]	training's l2: 0.400046	valid_1's l2: 0.421381
[450]	training's l2: 0.39941	valid_1's l2: 0.421229
[500]	training's l2: 0.398826	valid_1's l2: 0.421114
Early stopping, best iteration is:
[484]	training's l2: 0.398993	valid_1's l2: 0.421093
mean_14_2017: 2022529.05
mean_7_2017: 601740.77
mean_3_2017: 213387.33
promo_15: 184125.93
promo_14_2017: 51237.69
promo_14: 10084.43
promo_7: 5849.95
promo_9: 4852.21
promo_10: 4486.45
promo_0: 4422.50
promo_13: 3956.91
promo_12: 3710.38
promo_8: 3415.79
promo_11: 2732.34
promo_1: 2314.99
promo_2: 2312.65
promo_3: 2167.87
promo_6: 2003.93
promo_5: 1334.89
promo_4: 1291.08

In [35]:
print("Validation mse:", mean_squared_error(
    y_val, np.array(val_pred).transpose()))

Validation mse: 0.413871704054

In [36]:
print("Making submission...")
y_test = np.array(test_pred).transpose()
df_preds = pd.DataFrame(
    y_test, index=df_2017.index,
    columns=pd.date_range("2017-08-16", periods=16)
).stack().to_frame("unit_sales")
df_preds.index.set_names(["store_nbr", "item_nbr", "date"], inplace=True)

submission = df_test[["id"]].join(df_preds, how="left").fillna(0)
submission["unit_sales"] = np.clip(np.expm1(submission["unit_sales"]), 0, 1000)

Making submission...

In [37]:
submission.to_csv('lgb.csv', float_format='%.4f', index=None)